header {
  position: relative;
}

html {
  font-family: "AvenirNext", "arial", "helvetica", sans-serif;
}

.rangecars {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 25px;
  background-color: rgba(145, 145, 145, 0.274) 2, 102, 102;
}
@media (max-width: 740px) {
  .rangecars .cars img {
    width: 100%;
    margin: 5px;
  }
}
@media (min-width: 741px) {
  .rangecars .cars img {
    width: 315px;
  }
}
@media (min-width: 897px) {
  .rangecars .cars {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .rangecars .cars img {
    background-size: contain;
  }
}
.rangecars h2 {
  text-align: center;
}
.rangecars .cars {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}
.rangecars .cars .bl {
  color: white;
  display: flex;
  background-color: black;
  width: 55%;
  height: 40px;
  padding: 5px;
  justify-content: center;
  border-radius: 4px;
}
.rangecars .cars .bl:hover {
  color: black;
  background-color: #fff;
  width: 55%;
  height: 40px;
  margin-top: -0.1px;
  border: 2px solid black;
}
.rangecars .litllegrey {
  font-size: 13px;
  color: #4a4f54;
}
.rangecars .grey {
  font-size: 14px;
  color: #4a4f54;
}
.rangecars a {
  color: black;
}
.rangecars .rangeRover {
  margin: 5px;
}
.rangecars .rangeRover .infoRover {
  margin-top: 10px;
}
.rangecars .rangeRoverSport {
  margin: 5px;
}
.rangecars .rangeRoverSport .infoRoverSport {
  margin-top: 10px;
}
.rangecars .Velar {
  margin: 5px;
}
.rangecars .Velar .roverVelar {
  margin-top: 10px;
}
.rangecars .Evoque {
  margin: 5px;
}
.rangecars .Evoque .roverEvoque {
  margin-top: 10px;
}
.rangecars .discovery {
  margin: 5px;
}
.rangecars .discovery .roverDiscovery {
  margin-top: 10px;
}
.rangecars .discoverySport {
  margin: 5px;
}
.rangecars .discoverySport .roverdiscoverySport {
  margin-top: 10px;
}
.rangecars .defender {
  margin: 5px;
}
.rangecars .defender .roverDefender {
  margin-top: 10px;
}
.rangecars .SPECIALVENICLEOPERATIONS {
  margin: 5px;
}
.rangecars .SPECIALVENICLEOPERATIONS .spec {
  margin: 10px;
}

.infoRov {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 15px;
  background-color: #f8f9f9;
}
.infoRov h3 {
  color: #4a4f54;
  width: 75%;
  font-size: 15px;
}

.infoAboutRover {
  display: block;
  background-color: #4a4f54;
  width: 100%;
  height: auto;
  padding: 25px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.infoAboutRover img {
  width: 100%;
}
@media (max-width: 740px) {
  .infoAboutRover img {
    width: 100%;
    margin: 5px;
  }
}
.infoAboutRover .marg {
  margin-top: 1em;
}
.infoAboutRover .contAbout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}
@media (min-width: 741px) {
  .infoAboutRover .marg img {
    width: 315px;
    margin: 5px;
  }
}
@media (min-width: 1023px) {
  .infoAboutRover .marg {
    width: 450px;
  }
  .infoAboutRover .marg img {
    width: 450px;
  }
}
.infoAboutRover .str1 {
  margin-top: 20px;
}
.infoAboutRover a {
  font-size: 14px;
  width: 305px;
  color: #e4e8e8;
}
.infoAboutRover p {
  font-size: 14px;
  width: 305px;
  color: #e4e8e8;
}
.infoAboutRover .scr {
  font-size: 10px;
}

.discl {
  background-color: #e9ecec;
  color: #4a4f54;
  width: 100%;
  height: 160px;
}
.discl .lambo {
  position: absolute;
  padding: 55px;
  font-size: 13px;
}
.discl a {
  color: #4a4f54;
}

.bgg {
  padding: 35px;
}
.bgg h2 {
  margin-left: 25px;
}
.bgg h3 {
  margin-left: 25px;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 74px;
  padding: 13px 10px 10px 26px;
  background-color: #fff;
  display: flex;
  z-index: 1;
}
.navigation .menu-link {
  margin-left: 15px;
}
.navigation .menu-link .menu-link {
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  color: black;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 10.5px;
}
.navigation .ff a {
  top: 11px;
}
.navigation .ff a:hover {
  background-color: #6666663f;
  top: -13px;
  height: 74px;
  text-decoration: none;
  transition: 0.4s;
}
.navigation .search {
  width: 100%;
  right: -25%;
  position: relative;
}
.navigation .cont-search {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-items: flex-end;
  padding: 10px;
  width: 100%;
}
.navigation .cont-search .link-search {
  padding: 10px;
}
.navigation .cont-search .link-search:hover {
  background-color: #dbdada;
}

.veniclesHov {
  position: relative;
  display: none;
}

.ff {
  display: flex;
}

.header-slider {
  position: relative;
  width: 100%;
  height: 10%;
}
.header-slider .d-block {
  width: 100%;
  height: auto;
  background-size: contain;
}
.header-slider .slider-content {
  position: absolute;
  left: 9%;
  top: 43%;
  font-size: 12px;
  padding: 20px;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.897);
}
.header-slider .slider-content h1 {
  font-size: 22px;
}
.header-slider .slider-content .batton-cont {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.897);
  color: #fff;
  text-align: center;
  width: auto;
  height: auto;
  padding: 15px;
  font-size: 14px;
  transition: all 0.4s;
}
.header-slider .slider-content .batton-cont:hover {
  background-color: rgba(255, 255, 255, 0.897);
  color: black;
  border: 0.5px solid #000;
}
.header-slider .round-button {
  position: absolute;
  background-color: #045a01;
  width: 55px;
  right: 25px;
  height: 55px;
  top: 12%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 100px;
  transition: all 0.4s;
}
.header-slider .round-button:hover {
  background-color: #000;
  padding: 13px;
}
.header-slider .round-button .body-round {
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 100px;
}
.header-slider .round-button .body-round:hover {
  width: 5px;
  height: 5px;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}
footer .infoFoot {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  font-size: 11px;
  align-items: baseline;
  background-color: #4a4f54;
  flex-wrap: wrap;
  color: white;
}
footer .infoFoot .info1 {
  height: auto;
  width: auto;
  padding: 55px;
}
footer .info2 {
  height: auto;
  width: auto;
  padding: 25px;
}
footer .info3 {
  height: auto;
  width: auto;
  padding: 25px;
}
footer .info4 {
  height: auto;
  width: auto;
  padding: 25px;
}
footer .info5 {
  height: auto;
  width: auto;
  padding: 25px;
}
footer .grey {
  margin-bottom: 35px;
}

.cont {
  width: 100%;
  height: auto;
}
.cont .i {
  font-size: 11px;
  height: 43px;
  color: black;
  padding: 30px;
  margin-left: 30px;
}
.cont .fa {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  padding: 8px;
  margin-left: 36px;
}
.cont .fa p {
  font-size: 11px;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
